{% extends 'base_generic.html' %}

{% block title %}О Виталие Владимировиче{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Краткая биография</h1>

    <p>Мастер спорта СССР, старший инструктор-методист по туризму, судья 1 категории. Образование высшее педагогическое; преподаватель истории, конституции и физического воспитания.</p>

    <p>Туристский стаж с 1951 года. Инструкторскую подготовку проходил в туристских школах С.Н. Болдырева.</p>

    <p>В студенческие годы с сентября 1953 года по 1957 год в Доме пионеров и школьников Москворецкого района г. Москвы готовил команды школ района к участию в городских туристских слетах.</p>

    <p>После окончания института – педагог школы № 657, туристский организатор школы. В 1959 г. переведен на профессиональную туристскую работу в Дом пионеров и школьников им. Павла Андреева в качестве туристского организатора Москворецкого района.</p>

    <p>Работал заведующим отделом туризма и краеведения во Дворце пионеров и школьников им. А.П. Гайдара Люблинского района г. Москвы и директором Московской городской станции юных туристов.</p>

    <p>Провел как руководитель свыше 240 многодневных категорийных походов и сборов по разным районам страны, 14 из них – высшей, пятой категории сложности.</p>

    <p>Ежегодно с 1959 г. в течение 30 лет руководил семинарами и школами по подготовке общественных туристских кадров из числа учащихся и педагогов школ, работников предприятий – вожатых пионерских лагерей.</p>

    <p>С 1960 по 1980 год – член кадровой комиссии Московского городского туристского клуба. С 1979 по 1991 год – член президиума и заместитель председателя Московского городского совета Всесоюзной федерации туризма.</p>

    <p>Основатель и руководитель туристских клубов «Полянка», «Товарищ», «Искра» (объединение «Лидер»). В настоящее время – председатель тренерского совета спортивно-туристского клуба «Лидер». Команды клуба многократно становились победителями Первенства г. Москвы по туризму и спортивному ориентированию среди школьников, призерами Всесоюзных соревнований и чемпионатов, Чемпионата России по спортивному туризму. За многие годы клубом подготовлены более 10 000 спортсменов-разрядников, кандидаты и мастера спорта по туризму. Более 100 воспитанников клуба стали профессиональными тренерами по туризму.</p>

    <p>Принял самое активное участие в создании и работе районного Клуба юных путешественников и исследователей и школы геологического профиля № 551.</p>

    <p>Разработал и внедрил: систему планирования, организации и учета туристской работы в образовательных учреждениях; систему проведения районных туристских слетов по параллелям классов; систему проведения массовых учебно-тренировочных сборов с категорийными сложными походами.</p>

    <p>По инициативе Ярошенко В.В. был создан при ГлавУНО Мосгорисполкома Методический совет по школьному туризму; утверждены «Единые требования к проведению туристско-экскурсионной и краеведческой работы со школьниками»; в 1979 г. в программу проведения Первенства г. Москвы по туризму среди школьников включена дополнительно старшая возрастная группа с походами 2-3 к.с. С 1980 г. для безопасного проведения Первенства и зачетных путешествий наладил систему инструкторской подготовки московских педагогов – руководителей туристских групп школьников по программам «НТП А+Б», «СТП» и «СИП».</p>

    <p>Опыт организационной, инструктивной, методической, кружковой и массовой работы отдела туризма и краеведения Дворца пионеров и школьников им. А.П. Гайдара Люблинского района г. Москвы (зав. отделом В.В. Ярошенко) был:
    одобрен решением коллегии Главного управления народного образования Мосгорисполкома и рекомендован к распространению в районах города;
    заслушан на Всероссийском совещании директоров станций юных туристов и заместителей начальников управлений образования регионов России в 1980 г.;
    опубликован в пособии «Методические рекомендации по туристско-экскурсионной и краеведческой работе», выпущенном Центральной детской туристско-экскурсионной станцией Министерства просвещения РСФСР, в книгах и статьях;
    обобщен в научных исследованиях.
    </p>


    <p>Награжден орденом «Знак Почета», медалями «За освоение целинных земель», «За доблестный труд. В ознаменование 100-летия со дня рождения В.И. Ленина», «Ветеран труда», «В память 850-летия Москвы», Федерации независимых профсоюзов России; почетными знаками: ЦК ВЛКСМ «За освоение новых земель» и «За активную работу с пионерами», Министерства геологии и охраны недр СССР «Отличник Министерства геологии и охраны недр СССР», Центрального Совета по туризму и экскурсиям «За активную работу по развитию туризма и экскурсий» и «За заслуги в развитии туризма и экскурсий», Туристско-спортивного союза России «Заслуженный путешественник России», Московского городского центрального туристского клуба «Ветеран туризма г.Москвы».</p>

    <p>Автор книг и публикаций по проблемам туризма в образовании.</p>

    <a href="{% url 'home' %}">На главную</a>
{% endblock %}