{% extends 'base_generic.html' %}

{% block title %}Книги{% endblock %}

{% block content %}
    <h1 style="text-align: center;">В. В. Ярошенко: О туризме. Список публикаций</h1>
    <ul class="single-column">
    <li>1. Надо уметь // «За педагогические кадры». Май, 1955.</li>
    <li>2. Стоит подумать // Турист. № 8. 1975. С. 13.</li>
    <li>3. Открой Уральские Альпы // Мир путешествий. № 9. 1992. С. 31.</li>
    <li>4. Временная лента маршрута (в соавторстве) // Спортивный туризм. № 1, 1996. С. 13.</li>
    <li>5. Между стрелками часов (в соавторстве) // Учительская газета. № 3, 28 января 1997. С. 9.</li>
    <li>6. Самоуправление в туристской группе школьников (в соавторстве) // Спортивный туризм. № 3–4, 1996. С. 30–31.</li>
    <li>7. Судья на этапе. Как раскрыть образовательный потенциал туризма и краеведения (в соавторстве) // Учительская газета. № 11, 25 марта 1997. С. 18.</li>
    <li>8. Палитра условных знаков (в соавторстве) // Учительская газета. № 16, 29 марта 1997. С. 16.</li>
    <li>9. Учитель – жизнь под открытым небом. Полевой туристский лагерь как способ воспитания коллектива (в соавторстве) // Учительская газета. № 19, 20 мая 1997. С. 13.</li>
    <li>
    <a href="https://nkosterev.narod.ru/met/t_lag97.pdf" target="_blank" rel="noopener noreferrer">
        10. Полевой туристский лагерь школьников. Опыт программирования и организации (в соавторстве). М.: Издат-школа, 1997. 62 с.
    </a>
    </li>
    <li>11. По гребням, перевалам и вершинам. Планирование учебно-тренировочного процесса в туристских объединениях (в соавторстве) // Учительская газета. № 20, 27 мая 1997. С. 18.</li>
    <li>12. Экзамен на лесной тропе. Соревнования как этап обучения ориентированию (в соавторстве) // Учительская газета. № 30, 29 июля 1997. С. 21.</li>
    <li>13. Полевой туристский лагерь. С чего начать? (в соавторстве) // Спорт в школе. № 29, август 1997. С. 5–10.</li>
    <li>14. Ответственность и права организаторов школьного туризма: должностные инструкции (в соавторстве) // Спорт в школе. № 29, август 1997. С. 10–15.</li>
    <li>15. Лидеры дела. Организация самоуправления в туристской группе (в соавторстве) // Учительская газета. № 39, 30 сентября 1997. С. 16.</li>
    <li>16. Должностная инструкция как способ определения содержания деятельности организаторов школьного туризма и краеведения (в соавторстве). Сборник тезисов Международной конференции «Школа жизни – окружающий мир» (4–6 октября 1997 г.). Часть 5. М., 1997. С. 9–11.</li>
    <li>17. Рисую карту сам: Обучение ориентированию (в соавторстве). М.: МИФИ, 1998. 24 с.</li>
    <li>18. О программе туристско-краеведческого объединения школьников (в соавторстве). М.: МИФИ, 1998. 60 с.</li>
    <li>19. Учись ориентироваться (в соавторстве) // Спорт в школе. № 12, март 1998. С. 1–12.</li>
    <li>20. Уроки туристской тропы (в соавторстве) // Народное образование. № 6, 1998. С. 93–98.</li>
    <li>21. Воспитание – удел энтузиастов? (в соавторстве) // Учительская газета. № 40, 29 сентября 1998. С. 19.</li>
    <li>22. Образовательные и оздоровительные возможности туристских прогулок и походов (в соавторстве) / На урок в Битцевский лес: Сборник методических материалов. Вып. 1. М.: МИФИ, 1998. С. 50–69.</li>
    <li>23. Поход – дело серьезное (в соавторстве) // Учительская газета. № 6, 16 февраля 1999. С. 17.</li>
    <li>24. Туристские коллективы школьников: приоритеты развития (в соавторстве) // Народное образование. № 5, 1999. С. 121–128.</li>
    <li>25. Как пойти и вернуться из похода: Советы классному руководителю (в соавторстве) // Классный руководитель. № 5, 1999. С. 43–53.</li>
    <li>26. Планирование туристско-краеведческой деятельности в школе (в соавторстве) / На урок в Битцевский лес: Сборник методических материалов. Вып. 2. М.: МИФИ, 2000. С. 60–71.</li>
    <li>27. В коммунизм через туризм (в соавторстве) // Учительская газета. № 30, 25 июля 2000. С. 15.</li>
    <li>28. 22 июня и другие дни // Учительская газета. № 25, 19 июля 2001. С. 24.</li>
    <li>
    <a href="https://tyr-zo.narod.ru/liter/ia_ypr/tropa.pdf" target="_blank" rel="noopener noreferrer">
        29. На тропе познания и здоровья: Программно-методические материалы (в соавторстве). М.: МИФИ, 2002. 68 с.
    </a>
    </li>
    <li>30. Туристский слёт пятиклассников (в соавторстве) / На урок в Битцевский лес: Сборник методических и краеведческих материалов. Вып. 2. М.: МИФИ, 2000. С. 63–79.</li>
    <li>31. Поход? Зачем нам это нужно? (в соавторстве) // Учительская газета. № 20, 13 мая 2003. С. 11.</li>
    <li>32. Оккупация // Мой профсоюз. № 24, 19 июня 2003. С. 8.</li>
    <li>33. Приказано провести. Правовые основы туристской деятельности класса (в соавторстве) // Учительская газета. № 36, 2 сентября 2003. С. 14–15.</li>
    <li>34. В пути «мелочей» не бывает (в соавторстве) // Учительская газета. № 37, 9 сентября 2003. С. 15.</li>
    <li>35. Перекус под сосной. Питание в туристском походе (в соавторстве) // Учительская газета. № 40, 30 сентября 2003. С. 39.</li>
    <li>
    <a href="https://nkosterev.narod.ru/met/vpoxod/vpoxod.html" target="_blank" rel="noopener noreferrer">
        36. В поход с классом: Пособие для классного руководителя (в соавторстве). М.: ТЦ Сфера, 2004. 96 с.
    </a>
    </li>
    <li>
    <a href="https://tyr-zo.narod.ru/liter/t_kl_iar.pdf" target="_blank" rel="noopener noreferrer">
        37. Туристский клуб школьников: Пособие для руководителя (в соавторстве). М.: ТЦ Сфера, 2004. 224 с.
    </a>
    </li>
    <li>38. Освобождение // Учительская газета. № 2, 18 января 2005. С. 4.</li>
    <li>39. Я Москвы не представляю без такого, как он, Короля; Прощай, запевала! (в соавторстве) // Турист. № 2. 2004. С. 18–19.</li>
    <li>40. Памяти Р. П. Короля (в соавторстве) // Турист. № 6, 2004. С. 17.</li>
    <li>
    <a href="https://tyr-zo.narod.ru/liter/ob_sbor.pdf" target="_blank" rel="noopener noreferrer">
        41. Общий сбор: Полвека в детском туризме (в соавторстве). М., 2006. 352 с.
    </a>
    </li>
    <li>
    <a href="https://nkosterev.narod.ru/met/kr_iar/kr_iar.html" target="_blank" rel="noopener noreferrer">
        42. Краеведение. Внеклассная работа по истории, географии, биологии и экологии. Методическое пособие / Авт.-сост. Ю. В. Козлова, В. В. Ярошенко. М.: ТЦ Сфера, 2007. 128 с.
    </a>
    </li>
    <li>43. Туристский полигон. Занятия под открытым небом (в соавторстве) // Учительская газета. № 51, 28 декабря 2007.</li>
    <li>
    <a href="https://disk.yandex.ru/d/g_VcbblzOMDuKA" target="_blank" rel="noopener noreferrer">
        44. Искры костра: Страницы летописи клуба 1953–2008 гг. (в соавторстве). М., 2008. 400 с.
    </a>
    </li>
    <li>
    <a href="https://nkosterev.narod.ru/met/veteran/ia/2018_sb.pdf" target="_blank" rel="noopener noreferrer">
        45. Тропами и без троп. М., 2018. 96 с.
    </a>
    </li>
    <li>
    <a href="https://tyr-zo.narod.ru/liter/t_delo/t_delo.html" target="_blank" rel="noopener noreferrer">
        46. Школьный туризм - дело государственное (Сборник материалов). М.: Издетальство "Перо", 2019. 144 с.
    </a>
    </li>
    <li>
    <a href="https://yadi.sk/i/pE6V4pCgOlVX8g" target="_blank" rel="noopener noreferrer">
        47. 60 лет туристскому клубу "ЛИДЕР". М., 2020. 64 с.
    </a>
    </li>
    <li>
    <a href="https://tyr-zo.narod.ru/liter/wizn.pdf" target="_blank" rel="noopener noreferrer">
        48. Жизнь моя, туризм. М., 2021. 96 с.
    </a>
    </li>
    <li>
    <a href="https://disk.yandex.ru/i/wSk1cTyKqQjH5g" target="_blank" rel="noopener noreferrer">
        49. Тропами и без троп. Издание второе, дополненное (Памяти В.С. Чернавцева) М., 2023. 128 с.
    </a>
    </li>
    </ul>
    <a href="{% url 'home' %}">На главную</a>
{% endblock %}
