{% extends 'base_generic.html' %}

{% block title %}Как найти захоронение{% endblock %}
{% load static %}
{% block content %}
    <h1 style="text-align: center;">Как найти захоронение</h1>
<p>От станции метро «Преображенская площадь» можно добраться пешком. От станции метро «Семеновская» на трамваях №11, 2, 36, 46 до остановки «Преображенское кладбище». </p>
<img src="{% static 'images/cemetery-1.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>На самом кладбище нам нужен 13 участок.</p>
<img src="{% static 'images/cemetery-schema.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>После того, как пройдете ворота главного входа, поворачиваете направо.</p>
<img src="{% static 'images/cemetery-2.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Идете по дорожке до большого открытого пространства.</p>
<img src="{% static 'images/cemetery-3.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Продолжаете движение прямо, с правой стороны проходите мимо однотипных братских могил.</p>
<img src="{% static 'images/cemetery-4.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Проходите мимо Вечного огня и продолжаете движение прямо до конца поля с братскими могилами.</p>
<img src="{% static 'images/cemetery-5.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>В конце поля перекресток с указателями. Поворачиваете направо и идете по небольшой дорожке до четвертой тропинки налево.</p>
<img src="{% static 'images/cemetery-6.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Поворачиваете налево и идете по тропинке, вымощенной прямоугольными плитками, почти до конца.</p>
<img src="{% static 'images/cemetery-7.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Наша цель - предпоследний справа участок с большим вертикальным темным памятником (на фото открыта дверь нужной калитки).</p>
<img src="{% static 'images/cemetery-8.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
<p>Вы на месте.</p>

{% endblock %}
