{% extends 'base_generic.html' %}

{% block title %}Главная страница{% endblock %}
{% load static %}
{% block content %}

    <div class="content-wrapper">
        <img src="{% static 'images/Обложка.jpg' %}" alt="Виталий Владимирович Ярошенко" class="image">
        <div class="text-block">
            <p style="text-align: left; font-style: italic;">
    Отсюда далеко до мелких наговоров,<br>
    Цинизма, клеветы и шумной суеты.<br>
    Здесь у костра поют друзья негромко хором,<br>
    И наяву живут прекрасные мечты.
            </p>
            <h2>Виталий Владимирович Ярошенко (01.08.1935 – 10.08.2024)</h2>
            <p>
                Этот сайт — небольшое напоминание о Виталии Владимировиче Ярошенко, педагоге, ветеране труда и мастере спорта СССР. Виталий Владимирович ушел из жизни, оставив за собой яркий след и богатое творческое наследие. Он был человеком, который всей душой верил в то, чем занимался, и посвятил свою жизнь делу, которое считал важным — воспитанию молодежи и развитию туристского движения в нашей стране.
            </p>
            <p>
                Здесь вы найдете его песни, стихи и воспоминания, которые отражают его глубокую любовь к природе, людям и Родине. Это не просто его произведения, а часть его души и страсти, которые он щедро делился с миром.
            </p>
            <p>
                Если вы знали Виталия Владимировича или хотите узнать о нем больше, этот сайт станет для вас местом, где можно вспомнить его и найти вдохновение в том, что он оставил после себя. Надеюсь, что его творчество и преданность делу продолжат жить в сердцах тех, кто его помнит и ценит.
            </p>
        </div>
    </div>

{% endblock %}
